In [3]:
import pandas as pd
from matplotlib import pyplot as plt

In [192]:
import numpy as np
from sklearn.decomposition import NMF
from sklearn.feature_extraction import stop_words
from sklearn.feature_extraction.text import TfidfVectorizer
from gensim.models.phrases import Phrases, Phraser
import re

In [318]:
books = pd.read_csv('goodbooks-10k-master/books.csv')
books.head(30)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
5,6,11870085,11870085,16827462,226,525478817,9.780525e+12,John Green,2012.0,The Fault in Our Stars,...,2346404,2478609,140739,47994,92723,327550,698471,1311871,https://images.gr-assets.com/books/1360206420m...,https://images.gr-assets.com/books/1360206420s...
6,7,5907,5907,1540236,969,618260307,9.780618e+12,J.R.R. Tolkien,1937.0,The Hobbit or There and Back Again,...,2071616,2196809,37653,46023,76784,288649,665635,1119718,https://images.gr-assets.com/books/1372847500m...,https://images.gr-assets.com/books/1372847500s...
7,8,5107,5107,3036731,360,316769177,9.780317e+12,J.D. Salinger,1951.0,The Catcher in the Rye,...,2044241,2120637,44920,109383,185520,455042,661516,709176,https://images.gr-assets.com/books/1398034300m...,https://images.gr-assets.com/books/1398034300s...
8,9,960,960,3338963,311,1416524797,9.781417e+12,Dan Brown,2000.0,Angels & Demons,...,2001311,2078754,25112,77841,145740,458429,716569,680175,https://images.gr-assets.com/books/1303390735m...,https://images.gr-assets.com/books/1303390735s...
9,10,1885,1885,3060926,3455,679783261,9.780680e+12,Jane Austen,1813.0,Pride and Prejudice,...,2035490,2191465,49152,54700,86485,284852,609755,1155673,https://images.gr-assets.com/books/1320399351m...,https://images.gr-assets.com/books/1320399351s...
10,11,77203,77203,3295919,283,1594480001,9.781594e+12,Khaled Hosseini,2003.0,The Kite Runner,...,1813044,1878095,59730,34288,59980,226062,628174,929591,https://images.gr-assets.com/books/1484565687m...,https://images.gr-assets.com/books/1484565687s...
11,12,13335037,13335037,13155899,210,62024035,9.780062e+12,Veronica Roth,2011.0,Divergent,...,1903563,2216814,101023,36315,82870,310297,673028,1114304,https://images.gr-assets.com/books/1328559506m...,https://images.gr-assets.com/books/1328559506s...
12,13,5470,5470,153313,995,451524934,9.780452e+12,"George Orwell, Erich Fromm, Celâl Üster",1949.0,Nineteen Eighty-Four,...,1956832,2053394,45518,41845,86425,324874,692021,908229,https://images.gr-assets.com/books/1348990566m...,https://images.gr-assets.com/books/1348990566s...
13,14,7613,7613,2207778,896,452284244,9.780452e+12,George Orwell,1945.0,Animal Farm: A Fairy Story,...,1881700,1982987,35472,66854,135147,433432,698642,648912,https://images.gr-assets.com/books/1424037542m...,https://images.gr-assets.com/books/1424037542s...
14,15,48855,48855,3532896,710,553296981,9.780553e+12,"Anne Frank, Eleanor Roosevelt, B.M. Mooyaart-D...",1947.0,Het Achterhuis: Dagboekbrieven 14 juni 1942 - ...,...,1972666,2024493,20825,45225,91270,355756,656870,875372,https://images.gr-assets.com/books/1358276407m...,https://images.gr-assets.com/books/1358276407s...
15,16,2429135,2429135,1708725,274,307269752,9.780307e+12,"Stieg Larsson, Reg Keeland",2005.0,Män som hatar kvinnor,...,1808403,1929834,62543,54835,86051,285413,667485,836050,https://images.gr-assets.com/books/1327868566m...,https://images.gr-assets.com/books/1327868566s...
16,17,6148028,6148028,6171458,201,439023491,9.780439e+12,Suzanne Collins,2009.0,Catching Fire,...,1831039,1988079,88538,10492,48030,262010,687238,980309,https://images.gr-assets.com/books/1358273780m...,https://images.gr-assets.com/books/1358273780s...
17,18,5,5,2402163,376,043965548X,9.780440e+12,"J.K. Rowling, Mary GrandPré, Rufus Beck",1999.0,Harry Potter and the Prisoner of Azkaban,...,1832823,1969375,36099,6716,20413,166129,509447,1266670,https://images.gr-assets.com/books/1499277281m...,https://images.gr-assets.com/books/1499277281s...
18,19,34,34,3204327,566,618346252,9.780618e+12,J.R.R. Tolkien,1954.0,The Fellowship of the Ring,...,1766803,1832541,15333,38031,55862,202332,493922,1042394,https://images.gr-assets.com/books/1298411339m...,https://images.gr-assets.com/books/1298411339s...
19,20,7260188,7260188,8812783,239,439023513,9.780439e+12,Suzanne Collins,2010.0,Mockingjay,...,1719760,1870748,96274,30144,110498,373060,618271,738775,https://images.gr-assets.com/books/1358275419m...,https://images.gr-assets.com/books/1358275419s...
20,21,2,2,2809203,307,439358078,9.780439e+12,"J.K. Rowling, Mary GrandPré",2003.0,Harry Potter and the Order of the Phoenix,...,1735368,1840548,28685,9528,31577,180210,494427,1124806,https://images.gr-assets.com/books/1387141547m...,https://images.gr-assets.com/books/1387141547s...
21,22,12232938,12232938,1145090,183,316166685,9.780316e+12,Alice Sebold,2002.0,The Lovely Bones,...,1605173,1661562,36642,62777,131188,404699,583575,479323,https://images.gr-assets.com/books/1457810586m...,https://images.gr-assets.com/books/1457810586s...
22,23,15881,15881,6231171,398,439064864,9.780439e+12,"J.K. Rowling, Mary GrandPré",1998.0,Harry Potter and the Chamber of Secrets,...,1779331,1906199,34172,8253,42251,242345,548266,1065084,https://images.gr-assets.com/books/1474169725m...,https://images.gr-assets.com/books/1474169725s...
23,24,6,6,3046572,332,439139600,9.780439e+12,"J.K. Rowling, Mary GrandPré",2000.0,Harry Potter and the Goblet of Fire,...,1753043,1868642,31084,6676,20210,151785,494926,1195045,https://images.gr-assets.com/books/1361482611m...,https://images.gr-assets.com/books/1361482611s...
24,25,136251,136251,2963218,263,545010225,9.780545e+12,"J.K. Rowling, Mary GrandPré",2007.0,Harry Potter and the Deathly Hallows,...,1746574,1847395,51942,9363,22245,113646,383914,1318227,https://images.gr-assets.com/books/1474171184m...,https://images.gr-assets.com/books/1474171184s...
25,26,968,968,2982101,350,307277674,9.780307e+12,Dan Brown,2003.0,The Da Vinci Code,...,1447148,1557292,41560,71345,126493,340790,539277,479387,https://images.gr-assets.com/books/1303252999m...,https://images.gr-assets.com/books/1303252999s...
26,27,1,1,41335427,275,439785960,9.780440e+12,"J.K. Rowling, Mary GrandPré",2005.0,Harry Potter and the Half-Blood Prince,...,1678823,1785676,27520,7308,21516,136333,459028,1161491,https://images.gr-assets.com/books/1361039191m...,https://images.gr-assets.com/books/1361039191s...
27,28,7624,7624,2766512,458,140283331,9.780140e+12,William Golding,1954.0,Lord of the Flies,...,1605019,1671484,26886,92779,160295,425648,564916,427846,https://images.gr-assets.com/books/1327869409m...,https://images.gr-assets.com/books/1327869409s...
28,29,18135,18135,3349450,1937,743477111,9.780743e+12,"William Shakespeare, Robert Jackson",1595.0,An Excellent conceited Tragedie of Romeo and J...,...,1628519,1672889,14778,57980,153179,452673,519822,489235,https://images.gr-assets.com/books/1327872146m...,https://images.gr-assets.com/books/1327872146s...
29,30,8442457,19288043,13306276,196,297859382,9.780298e+12,Gillian Flynn,2012.0,Gone Girl,...,512475,1626519,121614,38874,80807,280331,616031,610476,https://images.gr-assets.com/books/1339602131m...,https://images.gr-assets.com/books/1339602131s...

In [6]:
books['first_author'] = books.authors.apply(lambda x: x.split(',')[0])

In [7]:
books.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url', 'first_author'],
      dtype='object')

### Assign the authors an ID

In [14]:
authors = books['first_author'].drop_duplicates().reset_index()
authors.columns = [['author_nr','first_author']]
authors['author_nr'] = 'author_' + authors['author_nr'].astype(str)
authors.head()

  author_nr         first_author
0  author_0      Suzanne Collins
1  author_1         J.K. Rowling
2  author_2      Stephenie Meyer
3  author_3           Harper Lee
4  author_4  F. Scott Fitzgerald

In [15]:
books1 = books.merge(authors,on='first_author')

### clean up book title formatting

In [149]:
stopword_list = ['the','of','and','at','to','with','a','an','in','for','you','on','']

In [167]:
titles_clean = books1['title'].str.lower().values.tolist()
titles_clean = [re.sub(pattern='[^a-z ]',repl='',string=x) for x in titles_clean]
titles_clean = [x.split(' ') for x in titles_clean]
titles_clean = [[x for x in x if x not in stopword_list] for x in titles_clean]
titles_clean[0:5]

[['hunger', 'games', 'hunger', 'games'],
 ['catching', 'fire', 'hunger', 'games'],
 ['mockingjay', 'hunger', 'games'],
 ['hunger', 'games', 'trilogy', 'boxset', 'hunger', 'games'],
 ['gregor', 'overlander', 'underland', 'chronicles']]

In [160]:
title_phrases = Phrases(titles_clean, min_count=1, threshold=1)

In [171]:
titles_clean1 = [' '.join(x) for x in titles_clean]
titles_clean1[0:5]

['hunger games hunger games',
 'catching fire hunger games',
 'mockingjay hunger games',
 'hunger games trilogy boxset hunger games',
 'gregor overlander underland chronicles']

In [191]:
books1['title_clean'] = titles_clean1
title_and_author = books1['title_clean'] + " " + books1['author_nr']
title_and_author = title_and_author.values.tolist()
title_and_author[0:5]

['hunger games hunger games author_0',
 'catching fire hunger games author_0',
 'mockingjay hunger games author_0',
 'hunger games trilogy boxset hunger games author_0',
 'gregor overlander underland chronicles author_0']

In [195]:
vectorizer = TfidfVectorizer()
tfidf_titleauthor = vectorizer.fit_transform(title_and_author)
tfidf_titleauthor.shape

/Users/ChadMorgan/anaconda/lib/python3.6/site-packages/sklearn/feature_extraction/text.py:1059: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  if hasattr(X, 'dtype') and np.issubdtype(X.dtype, np.float):

(10000, 13085)

In [197]:
tfidf_titleauthor[:,0]

<10000x1 sparse matrix of type '<class 'numpy.float64'>'
	with 1 stored elements in Compressed Sparse Row format>

In [202]:
nmf = NMF(n_components=300, random_state=1,init='nndsvd',
          alpha=.01, l1_ratio=.5).fit(tfidf_titleauthor)

In [206]:
nmf.components_.shape

(300, 13085)

In [207]:
# From https://scikit-learn.org/stable/auto_examples/applications/plot_topics_extraction_with_nmf_lda.html
def print_top_words(model, feature_names, n_top_words):
    for topic_idx, topic in enumerate(model.components_):
        message = "Topic #%d: " % topic_idx
        message += " ".join([feature_names[i]
                             for i in topic.argsort()[:-n_top_words - 1:-1]])
        print(message)
    print()

In [208]:
tfidf_feature_names = vectorizer.get_feature_names()
print_top_words(nmf, tfidf_feature_names, 5)

Topic #0: death author_831 note author_584 gate
Topic #1: zoya author_996 author_9987 author_9985 author_9983
Topic #2: bosch harry author_520 universe haller
Topic #3: dark author_3264 tower author_3114 immortals
Topic #4: man author_1028 author_3149 invisible author_1469
Topic #5: night author_245 author_1256 huntress watch
Topic #6: cross alex author_241 mary hope
Topic #7: my name friend mother approves
Topic #8: is kinsey author_822 millhone silence
Topic #9: little author_543 golden author_41 critter
Topic #10: chronicles author_204 amber dragons author_251
Topic #11: dead walking author_501 sookie stackhouse
Topic #12: author_71 mile tower salems lot
Topic #13: author_1870 prey lucas davenport virgil
Topic #14: me shatter seattle author_3421 author_631
Topic #15: sea author_811 breeze half beach
Topic #16: love author_268 author_3705 author_2182 author_742
Topic #17: zoya author_996 author_9987 author_9985 author_9983
Topic #18: black butler company author_3770 magician
Topic #19: author_476 reacher jack enemy affair
Topic #20: time wheel author_329 wrinkle quintet
Topic #21: saga author_1028 author_1592 vorkosigan author_5428
Topic #22: moon author_442 full sailor author_2336
Topic #23: author_282 discworld rincewind watch witches
Topic #24: stories other author_2412 saxon short
Topic #25: girl author_2201 gossip allamerican author_6205
Topic #26: poirot hercule author_199 murder clocks
Topic #27: plum author_206 stephanie top four
Topic #28: book golden malazan author_1527 ember
Topic #29: author_366 hideaway frankenstein koontzs dean
Topic #30: scarpetta author_510 kay body dust
Topic #31: princess diaries author_499 mediator author_1386
Topic #32: life times boys still author_2185
Topic #33: last author_1028 avatar airbender author_2539
Topic #34: world author_1386 brave nightshade author_54
Topic #35: red nypd author_3768 charlie author_535
Topic #36: fire ice song author_38 storm
Topic #37: club murder womens th author_241
Topic #38: vol fables author_1076 note author_1028
Topic #39: story true ghost author_742 author_8140
Topic #40: midnight breed author_3000 author_1754 past
Topic #41: legend forgotten realms author_1879 drizzt
Topic #42: city mortal instruments author_50 sin
Topic #43: from hell neighbor author_1775 notes
Topic #44: secret author_302 author_2732 author_234 micha
Topic #45: magic author_2104 daniels kate tree
Topic #46: files author_449 dresden storm codex
Topic #47: women author_879 otherworld author_41 author_1317
Topic #48: trilogy magician kushiels author_2261 farseer
Topic #49: author_906 born bay bride chesapeake
Topic #50: beautiful bastard author_1142 author_202 brothers
Topic #51: gone author_684 fear lies im
Topic #52: after immortals author_3114 ever author_3700
Topic #53: hunter author_1085 anita blake vampire
Topic #54: zoya author_996 author_9987 author_9985 author_9983
Topic #55: author_921 brennan temperance bones ashes
Topic #56: diary kid wimpy author_391 hard
Topic #57: left behind author_504 assassins mark
Topic #58: author_2862 gabriel allon english spy
Topic #59: author_166 sandman wake coraline slim
Topic #60: vampires morganville author_1695 chicagoland author_3521
Topic #61: war old mans author_909 civil
Topic #62: potter harry author_1 collection phoenix
Topic #63: author_85 lawyer firm testament confession
Topic #64: blue bloods author_980 author_399 exorcist
Topic #65: new warriors author_2479 prophecy york
Topic #66: truth sword author_480 naked confessor
Topic #67: novels author_185 plantagenet tudor boleyn
Topic #68: glass throne author_392 assassin author_1334
Topic #69: zoya author_996 author_9987 author_9985 author_9983
Topic #70: summer sisterhood author_826 author_119 second
Topic #71: zoya author_996 author_9987 author_9985 author_9983
Topic #72: zoya author_996 author_9987 author_9985 author_9983
Topic #73: percy jackson author_40 olympians thief
Topic #74: series unfortunate author_355 events bad
Topic #75: vampire author_204 diaries author_1386 kisses
Topic #76: author_1839 darkhunter werehunter dreamhunter devil
Topic #77: blood approves books author_1559 flowers
Topic #78: zoya author_996 author_9987 author_9985 author_9983
Topic #79: zoya author_996 author_9987 author_9985 author_9983
Topic #80: darkest underworld lords author_2082 powers
Topic #81: zoya author_996 author_9987 author_9985 author_9983
Topic #82: zoya author_996 author_9987 author_9985 author_9983
Topic #83: girls author_655 gallagher shanghai spy
Topic #84: twilight author_2 novel illustrated graphic
Topic #85: author_2058 mitch rapp kill survivor
Topic #86: rock chick author_3149 mountain colorado
Topic #87: how be works author_1306 mind
Topic #88: zoya author_996 author_9987 author_9985 author_9983
Topic #89: inspector armand gamache author_1711 chief
Topic #90: zoya author_996 author_9987 author_9985 author_9983
Topic #91: author_1447 pendergast diogenes dance relic
Topic #92: green anne gables author_132 mile
Topic #93: volume preacher author_1885 scott pilgrim
Topic #94: zoya author_996 author_9987 author_9985 author_9983
Topic #95: dirk author_1816 pitt odyssey treasure
Topic #96: zoya author_996 author_9987 author_9985 author_9983
Topic #97: zoya author_996 author_9987 author_9985 author_9983
Topic #98: shannara author_1800 original heritage voyage
Topic #99: freak du author_2758 cirque lake
Topic #100: pretty liars author_547 little wanted
Topic #101: zoya author_996 author_9987 author_9985 author_9983
Topic #102: zoya author_996 author_9987 author_9985 author_9983
Topic #103: zoya author_996 author_9987 author_9985 author_9983
Topic #104: never under sky author_538 edge
Topic #105: zoya author_996 author_9987 author_9985 author_9983
Topic #106: lord rings author_6 peter wimsey
Topic #107: author_432 dagger brotherhood lover black
Topic #108: dragon wild author_5597 slippers rain
Topic #109: zoya author_996 author_9987 author_9985 author_9983
Topic #110: zoya author_996 author_9987 author_9985 author_9983
Topic #111: zoya author_996 author_9987 author_9985 author_9983
Topic #112: zoya author_996 author_9987 author_9985 author_9983
Topic #113: foundation author_275 robot second robots
Topic #114: zoya author_996 author_9987 author_9985 author_9983
Topic #115: bone author_1421 charlie author_3768 season
Topic #116: holmes sherlock author_445 adventures complete
Topic #117: zoya author_996 author_9987 author_9985 author_9983
Topic #118: zoya author_996 author_9987 author_9985 author_9983
Topic #119: zoya author_996 author_9987 author_9985 author_9983
Topic #120: son author_597 soldier batman prodigal
Topic #121: zoya author_996 author_9987 author_9985 author_9983
Topic #122: history brief short author_315 author_438
Topic #123: apprentice author_1242 rangers magician kings
Topic #124: zoya author_996 author_9987 author_9985 author_9983
Topic #125: zoya author_996 author_9987 author_9985 author_9983
Topic #126: divergent author_11 allegiant four collection
Topic #127: zoya author_996 author_9987 author_9985 author_9983
Topic #128: author_1137 bolitar myron stranger innocent
Topic #129: zoya author_996 author_9987 author_9985 author_9983
Topic #130: zoya author_996 author_9987 author_9985 author_9983
Topic #131: author_1015 isles rizzoli die double
Topic #132: lost found author_5427 fleet lake
Topic #133: zoya author_996 author_9987 author_9985 author_9983
Topic #134: redwall author_1430 marlfox salamandastron bellmaker
Topic #135: zoya author_996 author_9987 author_9985 author_9983
Topic #136: zoya author_996 author_9987 author_9985 author_9983
Topic #137: zoya author_996 author_9987 author_9985 author_9983
Topic #138: zoya author_996 author_9987 author_9985 author_9983
Topic #139: scot harvath author_4522 hidden full
Topic #140: zoya author_996 author_9987 author_9985 author_9983
Topic #141: zoya author_996 author_9987 author_9985 author_9983
Topic #142: zoya author_996 author_9987 author_9985 author_9983
Topic #143: zoya author_996 author_9987 author_9985 author_9983
Topic #144: zoya author_996 author_9987 author_9985 author_9983
Topic #145: zoya author_996 author_9987 author_9985 author_9983
Topic #146: zoya author_996 author_9987 author_9985 author_9983
Topic #147: fever author_1069 author_233 burned author_4838
Topic #148: zoya author_996 author_9987 author_9985 author_9983
Topic #149: beauty sleeping beast author_2700 disney
Topic #150: zoya author_996 author_9987 author_9985 author_9983
Topic #151: highlander author_1069 highland spell mccabe
Topic #152: pern author_1127 dragonriders hall dragonsdawn
Topic #153: zoya author_996 author_9987 author_9985 author_9983
Topic #154: zoya author_996 author_9987 author_9985 author_9983
Topic #155: zoya author_996 author_9987 author_9985 author_9983
Topic #156: zoya author_996 author_9987 author_9985 author_9983
Topic #157: your mind change dreams surrender
Topic #158: fall angels strange author_4169 away
Topic #159: shopaholic author_107 stars confessions sister
Topic #160: zoya author_996 author_9987 author_9985 author_9983
Topic #161: author_749 covenant lux obsession pure
Topic #162: author_1479 circle opens immortals lioness
Topic #163: zoya author_996 author_9987 author_9985 author_9983
Topic #164: zoya author_996 author_9987 author_9985 author_9983
Topic #165: zoya author_996 author_9987 author_9985 author_9983
Topic #166: zoya author_996 author_9987 author_9985 author_9983
Topic #167: zoya author_996 author_9987 author_9985 author_9983
Topic #168: soul author_4155 screamers eater soup
Topic #169: star wars author_1861 darth bane
Topic #170: zoya author_996 author_9987 author_9985 author_9983
Topic #171: zoya author_996 author_9987 author_9985 author_9983
Topic #172: zoya author_996 author_9987 author_9985 author_9983
Topic #173: key author_1402 locke kingdom author_141
Topic #174: zoya author_996 author_9987 author_9985 author_9983
Topic #175: dream stars author_3149 author_2705 chicago
Topic #176: iron druid author_2153 author_755 fey
Topic #177: forever author_6102 author_620 author_913 fixed
Topic #178: zoya author_996 author_9987 author_9985 author_9983
Topic #179: zoya author_996 author_9987 author_9985 author_9983
Topic #180: author_2399 force sigma order eye
Topic #181: zoya author_996 author_9987 author_9985 author_9983
Topic #182: zoya author_996 author_9987 author_9985 author_9983
Topic #183: zoya author_996 author_9987 author_9985 author_9983
Topic #184: zoya author_996 author_9987 author_9985 author_9983
Topic #185: author_43 john author_1825 corey wild
Topic #186: dune author_125 author_6187 prelude chronicles
Topic #187: zoya author_996 author_9987 author_9985 author_9983
Topic #188: zoya author_996 author_9987 author_9985 author_9983
Topic #189: zoya author_996 author_9987 author_9985 author_9983
Topic #190: zoya author_996 author_9987 author_9985 author_9983
Topic #191: hollows author_1272 perfect witch undead
Topic #192: grave charley author_1256 author_2802 davidson
Topic #193: zoya author_996 author_9987 author_9985 author_9983
Topic #194: zoya author_996 author_9987 author_9985 author_9983
Topic #195: road author_103 beach author_266 north
Topic #196: miss marple author_199 murder library
Topic #197: selection author_205 guard heir crown
Topic #198: author_195 invisible haunted survivor snuff
Topic #199: zoya author_996 author_9987 author_9985 author_9983
Topic #200: author_222 fowl artemis code guardian
Topic #201: zoya author_996 author_9987 author_9985 author_9983
Topic #202: winter author_2377 people author_1648 author_2948
Topic #203: zoya author_996 author_9987 author_9985 author_9983
Topic #204: zoya author_996 author_9987 author_9985 author_9983
Topic #205: lincoln author_725 rhyme stone cold
Topic #206: zoya author_996 author_9987 author_9985 author_9983
Topic #207: shades fifty author_33 grey darker
Topic #208: author_1743 hole harry nemesis phantom
Topic #209: zoya author_996 author_9987 author_9985 author_9983
Topic #210: zoya author_996 author_9987 author_9985 author_9983
Topic #211: art author_775 travel through mistress
Topic #212: ramona author_1589 her mother henry
Topic #213: author_34 river like mountain alchemist
Topic #214: island sisters grimm author_3315 author_266
Topic #215: zoya author_996 author_9987 author_9985 author_9983
Topic #216: zoya author_996 author_9987 author_9985 author_9983
Topic #217: author_379 strange library dance quake
Topic #218: author_63 perfect rules pact storyteller
Topic #219: out inside water author_6593 wolves
Topic #220: sweet author_2409 author_2482 author_211 tooth
Topic #221: tales fairy alvin dork author_3113
Topic #222: zoya author_996 author_9987 author_9985 author_9983
Topic #223: zoya author_996 author_9987 author_9985 author_9983
Topic #224: zoya author_996 author_9987 author_9985 author_9983
Topic #225: author_28 henry richard hamlet macbeth
Topic #226: queen babble author_535 tearling author_499
Topic #227: kiss author_2761 paradise psychangeling merry
Topic #228: family author_1710 walsh batman henry
Topic #229: secrets nicholas immortal author_922 flamel
Topic #230: power that now thinking dog
Topic #231: author_64 country mr mother bluebeard
Topic #232: who lady was when cat
Topic #233: knight author_1125 batman author_531 author_7223
Topic #234: one just thing mans piece
Topic #235: angel shadows author_858 author_5105 memory
Topic #236: house author_245 author_543 lake beach
Topic #237: heart matter author_300 author_401 telltale
Topic #238: complete poems author_401 selected collected
Topic #239: odd thomas author_3359 covenant second
Topic #240: first law author_916 heaven call
Topic #241: children among author_1058 earths author_495
Topic #242: light author_1310 by author_624 author_49
Topic #243: it as losing do why
Topic #244: american gods author_2078 born author_498
Topic #245: author_83 next sun fear park
Topic #246: author_388 mistborn reckoners kings archive
Topic #247: wicked lovely author_874 author_121 witch
Topic #248: white author_374 author_176 nights fang
Topic #249: wife author_1310 paris author_9304 gods
Topic #250: basket fruits author_802 vol author_1278
Topic #251: daughter hangmans author_1866 smoke not
Topic #252: author_1417 belgariad redemption castle malloreon
Topic #253: we were when about need
Topic #254: universe author_287 ryan jack six
Topic #255: big nate stone gap author_4667
Topic #256: school high host ouran club
Topic #257: things small bad author_5739 when
Topic #258: guide hitchhikers author_53 galaxy ultimate
Topic #259: broken empire thorns author_1673 author_1592
Topic #260: god child uncommon author_3820 dialogue
Topic #261: years mitford author_2386 seven mountain
Topic #262: snow outlander author_136 ashes between
Topic #263: what know do about bear
Topic #264: prince captive author_6007 wolves author_478
Topic #265: if stay author_453 give mouse
Topic #266: game perfect thrones enders lying
Topic #267: before go dont christmas five
Topic #268: woman author_776 author_2210 wallander kurt
Topic #269: day just by armageddon every
Topic #270: street blossom author_4912 dublin wall
Topic #271: games hunger author_0 author_1990 culture
Topic #272: author_209 academy bloodlines georgina succubus
Topic #273: will author_1344 trent county grant
Topic #274: are where author_3017 now live
Topic #275: frog toad year author_1547 days
Topic #276: rider author_1615 alex scorpia stormbreaker
Topic #277: shadow enders author_69 falls author_1779
Topic #278: author_36 narnia space odyssey lion
Topic #279: hobbes calvin author_779 collection treasury
Topic #280: all souls author_993 author_378 men
Topic #281: boy author_499 meets that next
Topic #282: garden rose author_1522 chemical author_2475
Topic #283: cycle gate author_1395 earthsea author_592
Topic #284: three pigs men sisters odyssey
Topic #285: rising is author_3062 storm sun
Topic #286: this is more than author_1469
Topic #287: tale peter rabbit author_82 two
Topic #288: home way long author_266 walk
Topic #289: great small author_82 food everything
Topic #290: mercy author_979 thompson wolves omega
Topic #291: author_1149 camel maxwell robie sean
Topic #292: no detective ladies agency author_500
Topic #293: fallen malazan author_1527 author_223 crest
Topic #294: earth long here batman author_2004
Topic #295: good evil bad be author_810
Topic #296: author_241 ride maximum private michael
Topic #297: end days penryn author_946 mr
Topic #298: king maxwell michelle sean charlie
Topic #299: darkness author_1217 author_300 hearts author_5527

In [223]:
authors[authors['author_nr']=='author_1417']

       author_nr   first_author
764  author_1417  David Eddings

In [224]:
titleauth_vectors = nmf.transform(tfidf_titleauthor)

In [228]:
from numpy.linalg import norm
from numpy import dot

def cosine_sim(a,b):
    return dot(a,b)/(norm(a)*norm(b))

In [231]:
list(enumerate(title_and_author[0:25]))

[(0, 'hunger games hunger games author_0'),
 (1, 'catching fire hunger games author_0'),
 (2, 'mockingjay hunger games author_0'),
 (3, 'hunger games trilogy boxset hunger games author_0'),
 (4, 'gregor overlander underland chronicles author_0'),
 (5, 'gregor code claw underland chronicles author_0'),
 (6, 'gregor curse warmbloods underland chronicles author_0'),
 (7, 'gregor prophecy bane underland chronicles author_0'),
 (8, 'gregor marks secret underland chronicles author_0'),
 (9, 'harry potter sorcerers stone harry potter author_1'),
 (10, 'harry potter prisoner azkaban harry potter author_1'),
 (11, 'harry potter order phoenix harry potter author_1'),
 (12, 'harry potter chamber secrets harry potter author_1'),
 (13, 'harry potter goblet fire harry potter author_1'),
 (14, 'harry potter deathly hallows harry potter author_1'),
 (15, 'harry potter halfblood prince harry potter author_1'),
 (16, 'casual vacancy author_1'),
 (17, 'tales beedle bard author_1'),
 (18, 'harry potter boxset harry potter author_1'),
 (19, 'harry potter collection harry potter author_1'),
 (20, 'harry potter boxed set books harry potter author_1'),
 (21, 'harry potter collection harry potter author_1'),
 (22, 'fantastic beasts where find them original screenplay author_1'),
 (23, 'harry potter order phoenix harry potter part author_1'),
 (24,
  'short stories from hogwarts heroism hardship dangerous hobbies pottermore presents author_1')]

In [229]:
cosine_sim(titleauth_vectors[0],titleauth_vectors[1])

0.9723053610077146

In [232]:
cosine_sim(titleauth_vectors[9],titleauth_vectors[10])

0.9974494500429543

In [233]:
cosine_sim(titleauth_vectors[9],titleauth_vectors[14])

0.997362155832182

In [235]:
list(enumerate(title_and_author))[50:75]

[(50, 'fault our stars author_5'),
 (51, 'looking alaska author_5'),
 (52, 'paper towns author_5'),
 (53, 'abundance katherines author_5'),
 (54, 'will grayson will grayson author_5'),
 (55, 'let it snow three holiday romances author_5'),
 (56, 'hobbit author_6'),
 (57, 'fellowship ring lord rings author_6'),
 (58, 'two towers lord rings author_6'),
 (59, 'return king lord rings author_6'),
 (60, 'lord rings lord rings author_6'),
 (61, 'silmarillion middleearth universe author_6'),
 (62, 'jrr tolkien book boxed set hobbit lord rings author_6'),
 (63, 'children hrin author_6'),
 (64, 'unfinished tales nmenor middleearth author_6'),
 (65, 'catcher rye author_7'),
 (66, 'franny zooey author_7'),
 (67, 'nine stories author_7'),
 (68, 'raise high roof beam carpenters seymour introduction author_7'),
 (69, 'angels demons robert langdon author_8'),
 (70, 'da vinci code robert langdon author_8'),
 (71, 'deception point author_8'),
 (72, 'digital fortress author_8'),
 (73, 'lost symbol robert langdon author_8'),
 (74, 'inferno robert langdon author_8')]

In [236]:
cosine_sim(titleauth_vectors[56],titleauth_vectors[57])

0.9908473545295369

In [240]:
cosine_sim(titleauth_vectors[63],titleauth_vectors[61])

0.15913711581858037

In [242]:
list(enumerate(title_and_author))[75:100]

[(75, 'angels demons da vinci code robert langdon author_8'),
 (76, 'pride prejudice author_9'),
 (77, 'sense sensibility author_9'),
 (78, 'emma author_9'),
 (79, 'persuasion author_9'),
 (80, 'northanger abbey author_9'),
 (81, 'mansfield park author_9'),
 (82, 'complete novels author_9'),
 (83, 'lady susan author_9'),
 (84, 'kite runner author_10'),
 (85, 'thousand splendid suns author_10'),
 (86, 'mountains echoed author_10'),
 (87, 'divergent divergent author_11'),
 (88, 'insurgent divergent author_11'),
 (89, 'allegiant divergent author_11'),
 (90, 'four divergent story collection divergent author_11'),
 (91,
  'free four tobias tells divergent knifethrowing scene divergent author_11'),
 (92, 'transfer divergent author_11'),
 (93, 'divergent series complete box set divergent author_11'),
 (94, 'world divergent path allegiant divergent author_11'),
 (95, 'initiate divergent author_11'),
 (96, 'divergent series book collection divergent author_11'),
 (97, 'traitor divergent author_11'),
 (98, 'son divergent author_11'),
 (99, ' author_12')]

In [244]:
cosine_sim(titleauth_vectors[87],titleauth_vectors[89])

0.9999997498742668

In [246]:
cosine_sim(titleauth_vectors[87],titleauth_vectors[1])

0.0

This does a decent job of placing titles by the same author close together, but doesn't seem to do well with comparing across authors within similar genres

### Try using the tags instead

In [249]:
tags = pd.read_csv('goodbooks-10k-master/tags.csv')
tags.head()

   tag_id tag_name
0       0        -
1       1     --1-
2       2    --10-
3       3    --12-
4       4   --122-

In [250]:
book_tags = pd.read_csv('goodbooks-10k-master/book_tags.csv')
book_tags.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [297]:
# there are negative counts??
book_tags[book_tags['count']<=0].head()

        goodreads_book_id  tag_id  count
922055           18607805    2272     -1
922054           18607805    6552     -1
922051           18607805   10197     -1
922053           18607805   17246     -1
922052           18607805   21619     -1

In [298]:
book_tags = book_tags[book_tags['count']>0]

#### Manually calculate idf

In [299]:
tag_total = book_tags['count'].sum()
tag_doc_cnt = book_tags.groupby('tag_id')['count'].sum().reset_index()
tag_doc_cnt.columns = ['tag_id','term_frequency']
tag_doc_cnt['idf'] = np.log((1+tag_total)/(1+tag_doc_cnt['term_frequency']))+1
tag_doc_cnt.tail()

       tag_id  term_frequency        idf
34245   34247             353  14.287836
34246   34248            7456  11.240224
34247   34249             222  14.749961
34248   34250              24  16.938257
34249   34251             384  14.203890

In [300]:
tag_doc_cnt[tag_doc_cnt['idf'] == np.Inf].head()

Empty DataFrame
Columns: [tag_id, term_frequency, idf]
Index: []

#### relative term frequency

In [301]:
book_tags_total = book_tags.groupby('goodreads_book_id')['count'].sum().reset_index()
book_tags_total.columns = ['goodreads_book_id','total_book_tags']
book_tags_total.head()

   goodreads_book_id  total_book_tags
0                  1           359447
1                  2            73667
2                  3           786374
3                  5           227215
4                  6           141246

In [302]:
book_tags_tf = book_tags.merge(book_tags_total,on='goodreads_book_id')
book_tags_tf['relative_tf'] = book_tags_tf['count']/book_tags_tf['total_book_tags']
book_tags_tf.head()

   goodreads_book_id  tag_id  count  total_book_tags  relative_tf
0                  1     615    399           359447     0.001110
1                  1    1120    283           359447     0.000787
2                  1    1128    828           359447     0.002304
3                  1    1691   1742           359447     0.004846
4                  1    2104   1022           359447     0.002843

#### tf-idf calculation

In [303]:
book_tags_tfidf = book_tags_tf.merge(books[['goodreads_book_id','book_id']],on='goodreads_book_id')
book_tags_tfidf = book_tags_tfidf.merge(tag_doc_cnt,on='tag_id')
book_tags_tfidf['tfidf'] = book_tags_tfidf['count']*book_tags_tfidf['idf']
book_tags_tfidf['rel_tfidf'] = book_tags_tfidf['relative_tf']*book_tags_tfidf['idf']
book_tags_tfidf.head()

,goodreads_book_id,tag_id,count,total_book_tags,relative_tf,book_id,term_frequency,idf,tfidf,rel_tfidf
0,1,615,399,359447,0.001110,27,4198,11.814531,4713.997947,0.013115
1,67,615,13,13937,0.000933,3504,4198,11.814531,153.588906,0.011020
2,231,615,14,7388,0.001895,4081,4198,11.814531,165.403437,0.022388
3,597,615,12,16669,0.000720,3598,4198,11.814531,141.774374,0.008505
4,599,615,10,19147,0.000522,1392,4198,11.814531,118.145312,0.006170

In [304]:
book_tags_tfidf.describe()

,goodreads_book_id,tag_id,count,total_book_tags,relative_tf,book_id,term_frequency,idf,tfidf,rel_tfidf
count,9.999060e+05,999906.000000,999906.000000,999906.000000,999906.000000,999906.000000,9.999060e+05,999906.000000,999906.000000,999906.000000
mean,5.263358e+06,16324.557916,208.870892,20886.815714,0.010001,5000.483499,1.713535e+06,10.065752,698.634349,0.044130
std,7.574000e+06,9647.853899,3501.275640,39433.005048,0.060963,2886.743015,1.399243e+07,3.126542,5315.269325,0.117938
min,1.000000e+00,0.000000,1.000000,312.000000,0.000013,1.000000,1.000000e+00,1.394859,4.325659,0.000118
25%,4.622700e+04,8067.000000,7.000000,5157.000000,0.000701,2501.000000,3.987000e+03,8.030450,72.424867,0.007226
50%,3.948410e+05,15808.000000,15.000000,9803.000000,0.001522,5000.000000,3.907700e+04,9.583818,150.440502,0.015323
75%,9.378297e+06,24997.000000,40.000000,20308.000000,0.003457,7500.000000,1.847350e+05,11.866088,366.052005,0.033071
max,3.328864e+07,34251.000000,596234.000000,786374.000000,0.990710,10000.000000,1.407188e+08,19.463986,831662.370782,3.857923

In [305]:
print(len(book_tags_tfidf.drop_duplicates('tag_id')))
print(np.max(book_tags_tfidf['book_id']))

34250
10000

In [306]:
book_tags = book_tags.sort_values(['goodreads_book_id','tag_id'])

### Fit NMF to tags

In [307]:
from scipy.sparse import csr_matrix

In [308]:
tfidf_tag_sparse = csr_matrix((book_tags_tfidf['tfidf'].values,
                               (book_tags_tfidf['book_id'].values-1
                               ,book_tags_tfidf['tag_id'].values
                               )))
tfidf_tag_sparse.shape

(10000, 34252)

In [309]:
np.max(tfidf_tag_sparse)

831662.3707822289

In [310]:
from sklearn.preprocessing import normalize

In [311]:
tfidf_tag_sparse_norm = normalize(tfidf_tag_sparse)

In [314]:
np.max(tfidf_tag_sparse_norm)

0.9999165469790066

In [392]:
%%time
tags_nmf = NMF(n_components=300, random_state=1,
          alpha=.01, l1_ratio=.5).fit(tfidf_tag_sparse_norm)
tags_nmf.components_.shape

CPU times: user 18min 23s, sys: 8.2 s, total: 18min 31s
Wall time: 17min 20s

In [393]:
print_top_words(tags_nmf, tags['tag_name'], 5)

Topic #0: to-read currently-reading favorites owned books-i-own
Topic #1: fiction currently-reading favorites owned books-i-own
Topic #2: fantasy fiction owned favorites sci-fi-fantasy
Topic #3: currently-reading to-read kindle kindle-unlimited owned
Topic #4: romance favorites kindle ebook owned
Topic #5: mystery mysteries fiction crime mystery-thriller
Topic #6: childrens children-s children-s-books kids children
Topic #7: science-fiction sci-fi fiction sf owned
Topic #8: non-fiction nonfiction favorites owned books-i-own
Topic #9: young-adult ya teen books-i-own owned
Topic #10: historical-fiction historical fiction history fiction-historical
Topic #11: comics graphic-novels graphic-novel comic comic-books
Topic #12: paranormal supernatural fantasy urban-fantasy paranormal-fantasy
Topic #13: classics classic literature books-i-own favorites
Topic #14: horror supernatural thriller horror-thriller books-i-own
Topic #15: favorites favourites all-time-favorites favorite books-i-own
Topic #16: manga mangas manga-read read-manga anime
Topic #17: thriller suspense thrillers mystery-thriller mystery
Topic #18: christian-fiction christian left-behind left-behind-series religious
Topic #19: meg-cabot chick-lit teen princess-diaries contemporary
Topic #20: chick-lit chicklit fiction chic-lit romance
Topic #21: historical-romance historical regency romance-historical romance
Topic #22: urban-fantasy paranormal magic fantasy urban
Topic #23: humor comedy humour funny humorous
Topic #24: james-patterson patterson patterson-james default women-s-murder-club
Topic #25: florida carl-hiaasen hiaasen humor hiaasen-carl
Topic #26: nora-roberts romance roberts-nora contemporary-romance nora
Topic #27: drama play theater theatre teatro
Topic #28: plays theatre play drama theater
Topic #29: history american-history historical non-fiction hist
Topic #30: short-stories short-story stories short-story-collections short-fiction
Topic #31: vampires vampire vamps supernatural urban-fantasy
Topic #32: dystopian dystopia science-fiction ya-dystopian sci-fi
Topic #33: philosophy literature ethics existentialism philosophical
Topic #34: contemporary-fiction literary-fiction novels general-fiction adult-fiction
Topic #35: poetry poems شعر poem literature
Topic #36: science biology evolution nonfiction popular-science
Topic #37: new-adult contemporary contemporary-romance na kindle
Topic #38: adventure action-adventure survival action pirates
Topic #39: christian-fiction christian dee-henderson ted-dekker francine-rivers
Topic #40: star-wars sci-fi starwars star-wars-legends star-wars-canon
Topic #41: dean-koontz koontz thriller suspense owned
Topic #42: j-d-robb jd-robb in-death-series in-death romantic-suspense
Topic #43: graphic-novels comics-graphic-novels graphic-novel comic-books comic
Topic #44: biography biographies autobiography biography-memoir bio
Topic #45: nora-roberts contemporary-romance roberts-nora nora roberts
Topic #46: psychology psych mental-health neuroscience mental-illness
Topic #47: 1001-books 1001 1001-books-to-read-before-you-die 1001-import 1001-books-to-read
Topic #48: realistic-fiction realistic friendship family coming-of-age
Topic #49: agatha-christie crime detective hercule-poirot mysteries
Topic #50: erotica erotic erotic-romance adult smut
Topic #51: discworld terry-pratchett pratchett humor humour
Topic #52: mangá mangas death-note naruto manga-read
Topic #53: the-clique clique realistic-fiction middle-school the-clique-series
Topic #54: ｆａｖｏｕｒｉｔｅｓ farsi-books farland farley-mowat farm
Topic #55: john-grisham grisham legal-thriller legal grisham-john
Topic #56: stephen-king king horror king-stephen the-king
Topic #57: memoir memoirs biography-memoir biography autobiography
Topic #58: sci-fi scifi sci-fi-fantasy sf science-fiction
Topic #59: to-buy wish-list maybe owned-books need-to-buy
Topic #60: books-i-own owned-books my-books i-own my-library
Topic #61: travel travel-writing france travelogue travel-adventure
Topic #62: russian russian-literature russia russian-lit 19th-century
Topic #63: alpha-male alpha-males erotic-romance steamy dnf
Topic #64: stephanie-plum stephanie-plum-series plum cozy-mystery humor
Topic #65: essays essay journalism pop-culture humor
Topic #66: john-sandford sandford lucas-davenport john-sanford sandford-john
Topic #67: owned owned-books my-books own-it my-library
Topic #68: forgotten-realms drizzt r-a-salvatore legend-of-drizzt salvatore
Topic #69: food cooking foodie food-writing food-books
Topic #70: david-baldacci baldacci baldacci-david default action
Topic #71: janet-evanovich evanovich chick-lit evanovich-janet humor
Topic #72: indian-authors indian indian-fiction amish-tripathi mythological-fiction
Topic #73: music punk music-related rock pop-culture
Topic #74: mary-higgins-clark suspense mystery-suspense clark-mary-higgins mystery
Topic #75: michael-connelly harry-bosch connelly connelly-michael detective
Topic #76: kindle ebook ebooks kindle-books e-books
Topic #77: ya teen ya-fiction ya-fantasy ya-books
Topic #78: ｆａｖｏｕｒｉｔｅｓ farsi-books farland farley-mowat farm
Topic #79: crime crime-fiction detective crime-thriller mystery-thriller
Topic #80: lee-child jack-reacher reacher child-lee thriller
Topic #81: post-apocalyptic apocalyptic apocalypse post-apocalypse survival
Topic #82: zombies zombie the-walking-dead horror walking-dead
Topic #83: ｆａｖｏｕｒｉｔｅｓ farsi-books farland farley-mowat farm
Topic #84: sociology theory culture social-science academic
Topic #85: steampunk steam-punk alternate-history victorian gail-carriger
Topic #86: sports sports-romance sport football athletes
Topic #87: economics finance economy business econ
Topic #88: christmas holiday christmas-books holidays winter
Topic #89: audiobook audio audiobooks audio-books audio-book
Topic #90: novels pdf arabic روايات-عربية arabic-books
Topic #91: mythology greek-mythology arthurian gods jennifer-l-armentrout
Topic #92: dragons pern anne-mccaffrey dragon mccaffrey
Topic #93: religion christianity atheism religious catholic
Topic #94: harlan-coben coben coben-harlan myron-bolitar suspense
Topic #95: patricia-cornwell kay-scarpetta cornwell scarpetta cornwell-patricia
Topic #96: angels paranormal angel angels-demons angels-and-demons
Topic #97: clive-cussler dirk-pitt cussler adventure action-adventure
Topic #98: suspense mystery-thriller thrillers mystery-suspense suspense-thriller
Topic #99: nature environment environmental ecology natural-history
Topic #100: contemporary ya-contemporary stand-alone high-school realistic-fiction
Topic #101: animals dogs cats animal-stories animal
Topic #102: children childhood kids childrens-books kids-books
Topic #103: lgbt lgbtq queer glbt lgbtqia
Topic #104: art art-history photography art-books drawing
Topic #105: cómics graphic-novel comic comic-books the-walking-dead
Topic #106: warriors erin-hunter warrior-cats cats warriors-series
Topic #107: fiction novels novel general-fiction literature
Topic #108: japan japanese japanese-literature murakami haruki-murakami
Topic #109: parenting pregnancy baby pregnancy-parenting motherhood
Topic #110: sherrilyn-kenyon dark-hunter dark-hunter-series dark-hunters kenyon
Topic #111: fairy-tales fairy-tale retellings fairytales fairytale
Topic #112: politics political political-science american-history presidents
Topic #113: graphic-novel comics-graphic-novels graphic-novels-comics graphic comics-and-graphic-novels
Topic #114: jodi-picoult picoult drama contemporary-fiction picoult-jodi
Topic #115: anita-blake vampires laurell-k-hamilton vampire paranormal-romance
Topic #116: sue-grafton kinsey-millhone grafton grafton-sue mysteries
Topic #117: 39-clues the-39-clues adventure 39-clues-series middle-grade
Topic #118: newbery newbery-medal newbery-winners newberry newbery-award
Topic #119: rick-riordan percy-jackson mythology greek-mythology percy-jackson-and-the-olympians
Topic #120: tom-clancy clancy jack-ryan military clancy-tom
Topic #121: spirituality spiritual inspirational new-age buddhism
Topic #122: contemporary-romance contemporary romance adult romance-contemporary
Topic #123: kristen-ashley alpha-male ka contemporary-romance contemporary
Topic #124: sidney-sheldon sheldon sydney-sheldon suspense sidney
Topic #125: booker-prize man-booker-prize man-booker booker booker-prize-winners
Topic #126: africa alexander-mccall-smith botswana african african-literature
Topic #127: true-crime crime true nonfiction abuse
Topic #128: religious lds church lds-fiction church-books
Topic #129: rory-gilmore-reading-challenge rory-gilmore-challenge rory-gilmore gilmore-girls rory-gilmore-reading-list
Topic #130: childhood childhood-favorites childhood-books childhood-reads children-s
Topic #131: vince-flynn mitch-rapp flynn flynn-vince political-thriller
Topic #132: ｆａｖｏｕｒｉｔｅｓ farsi-books farland farley-mowat farm
Topic #133: lisa-gardner gardner-lisa suspense gardner mystery-suspense
Topic #134: scifi space-opera sf space military-sci-fi
Topic #135: koontz suspense koontz-dean horror-thriller horror-suspense
Topic #136: ｆａｖｏｕｒｉｔｅｓ farsi-books farland farley-mowat farm
Topic #137: anne-rice vampire-chronicles rice supernatural rice-anne
Topic #138: romantic-suspense suspense romance linda-howard romance-suspense
Topic #139: egypt نجيب-محفوظ wilbur-smith ancient-egypt magic-tree-house

Topic #140: ｆａｖｏｕｒｉｔｅｓ farsi-books farland farley-mowat farm
Topic #141: brad-thor scot-harvath thor thor-brad spy-thriller
Topic #142: series part-of-a-series ebook favorite-series to-buy
Topic #143: v-c-andrews vc-andrews gothic drama guilty-pleasures
Topic #144: feminism feminist women our-shared-shelf gender
Topic #145: pretty-little-liars pll sara-shepard pretty-little-liars-series contemporary
Topic #146: pulitzer pulitzer-prize pulitzer-prize-winners pulitzer-winners pulitzer-fiction
Topic #147: espionage spy spies spy-thriller thrillers
Topic #148: christine-feehan vampire carpathians dark-series vampires
Topic #149: romance dnf friends-to-lovers julia-quinn regency
Topic #150: daniel-silva gabriel-allon espionage spy silva
Topic #151: danielle-steel danielle-steele romance steel steel-danielle
Topic #152: historical bernard-cornwell medieval england historical-mystery
Topic #153: preston-child pendergast pendergast-series douglas-preston preston-and-child
Topic #154: magic witches ya-fantasy high-fantasy tamora-pierce
Topic #155: read-in-2013 read-2013 2013-reads read-in-2014 ebook
Topic #156: china asia asian chinese cultural
Topic #157: dork-diaries dork realistic-fiction middle-grade dork-diary
Topic #158: magical-realism magic-realism sarah-addison-allen magical contemporary
Topic #159: debbie-macomber romance macomber-debbie macomber knitting
Topic #160: teen young-adult-fiction ya-fiction ya-books high-school
Topic #161: sherlock-holmes sherlock holmes detective arthur-conan-doyle
Topic #162: cookbooks cooking cookbook cook-books reference
Topic #163: latin-america spanish latin-american latin-american-literature español
Topic #164: faeries fae fairies faerie fey
Topic #165: nelson-demille demille demille-nelson suspense john-corey
Topic #166: children-s-books kids kids-books childrens-books childhood-favorites
Topic #167: kathy-reichs bones temperance-brennan reichs reichs-kathy
Topic #168: christian christianity religious faith religion
Topic #169: nicholas-sparks sparks romance love-stories love-story
Topic #170: house-of-night vampires p-c-cast house-of-night-series vampire
Topic #171: picture-books picture-book children childrens childrens-books
Topic #172: goosebumps r-l-stine childhood childhood-books middle-grade
Topic #173: alex-cross alex-cross-series james-patterson-alex-cross patterson patterson-james
Topic #174: paranormal-romance paranormal romance pnr fantasy
Topic #175: james-rollins adventure sigma-force action-adventure rollins
Topic #176: theology c-s-lewis christianity faith apologetics
Topic #177: first-reads netgalley arc library audio
Topic #178: finance investing personal-finance financial money
Topic #179: tess-gerritsen rizzoli-isles gerritsen-tess gerritsen rizzoli-and-isles
Topic #180: india indian asia indian-authors south-asia
Topic #181: chetan-bhagat indian-authors indian indian-fiction indian-author
Topic #182: cyberpunk scifi sf cyber-punk william-gibson
Topic #183: school read-for-school for-school school-books high-school
Topic #184: jeffrey-archer archer jeffery-archer archer-jeffrey drama
Topic #185: j-r-ward black-dagger-brotherhood jr-ward paranormal-romance bdb
Topic #186: diary-of-a-wimpy-kid wimpy-kid jeff-kinney diary realistic-fiction
Topic #187: children-s childrens-books kids-books kids children-s-literature
Topic #188: batman dc superheroes dc-comics comic-books
Topic #189: comics marvel comic-books superheroes comic
Topic #190: western westerns american-west cormac-mccarthy texas
Topic #191: literature american american-literature novels 20th-century
Topic #192: robert-crais crais detective elvis-cole crais-robert
Topic #193: redwall brian-jacques animals childhood redwall-series
Topic #194: self-help self-improvement psychology personal-development self-development
Topic #195: shakespeare drama literature william-shakespeare british
Topic #196: classic 19th-century classic-literature classics-to-read victorian
Topic #197: sci-fi-fantasy fantasy-sci-fi scifi-fantasy science-fiction-fantasy fantasy-scifi
Topic #198: african-american race african-american-fiction african-american-literature african-american-lit
Topic #199: health nutrition medical medicine diet
Topic #200: caldecott picture-books children-s-books picture-book caldecott-medal
Topic #201: alex-rider spy action anthony-horowitz adventure
Topic #202: ｆａｖｏｕｒｉｔｅｓ farsi-books farland farley-mowat farm
Topic #203: epic-fantasy high-fantasy epic sci-fi-fantasy fantasy-sci-fi
Topic #204: ｆａｖｏｕｒｉｔｅｓ farsi-books farland farley-mowat farm
Topic #205: lynsay-sands vampire argeneau vampires argeneau-series
Topic #206: halo video-games halo-series video-game halo-books
Topic #207: nonfiction non-fiction adult to-read-non-fiction non-fic
Topic #208: dragonlance dragon-lance default dragons dungeons-and-dragons
Topic #209: dystopia dystopian sci-fi post-apocalyptic science-fiction
Topic #210: kresley-cole immortals-after-dark paranormal-romance demons vampires
Topic #211: lara-adrian midnight-breed vampires vampire paranormal-romance
Topic #212: iris-johansen eve-duncan-series eve-duncan johansen-iris johansen
Topic #213: marketing business advertising business-marketing personal-mba
Topic #214: physics astronomy cosmology science popular-science
Topic #215: sword-of-truth terry-goodkind epic-fantasy goodkind sword-of-truth-series
Topic #216: leadership management business work self-improvement
Topic #217: business management technology non-fiction entrepreneurship
Topic #218: karin-slaughter slaughter-karin slaughter will-trent grant-county
Topic #219: writing on-writing reference books-about-books creativity
Topic #220: middle-grade juvenile juvenile-fiction children middle-school
Topic #221: marriage relationships family relationship marriage-family
Topic #222: british england british-literature literature english
Topic #223: scandinavian scandinavia krimi nordic-noir sweden
Topic #224: italy italian italian-literature literature italiano
Topic #225: steve-berry cotton-malone berry-steve berry cotton-malone-series
Topic #226: personal-development self-improvement inspirational self-development personal-growth
Topic #227: autobiography memoirs cycling biography-memoir movies
Topic #228: noir crime-fiction hard-boiled detective american
Topic #229: bikers mc biker motorcycle-club alpha-male
Topic #230: abbi-glines rosemary-beach sea-breeze contemporary favorite-authors
Topic #231: book-club bookclub book-club-books book-group adult-fiction
Topic #232: war wwii world-war-ii ww2 holocaust
Topic #233: default my-library my-books owned-books paperback
Topic #234: cherub action spy spies cherub-series
Topic #235: mermaids mermaid emily-windsnap amanda-hocking mermaids-sirens
Topic #236: terry-brooks shannara brooks epic-fantasy brooks-terry
Topic #237: bdsm erotica erotic-romance erotic maya-banks
Topic #238: christian-living christianity faith christian-life christian-non-fiction
Topic #239: australia australian australian-author australian-fiction australian-authors
Topic #240: aliens alien sci-fi lorien-legacies jennifer-l-armentrout
Topic #241: education teaching arts creative instructional
Topic #242: gothic spain 18th-century gothic-horror gothic-fiction
Topic #243: childrens-books childhood-favorites kids-books childhood-books children-s-lit
Topic #244: running sports fitness health sport
Topic #245: military war military-history military-sci-fi military-science-fiction
Topic #246: novel indonesian indonesia fiksi paulo-coelho
Topic #247: polish polish-literature the-witcher andrzej-sapkowski fantastyka
Topic #248: sandra-brown romantic-suspense brown-sandra suspense romance-suspense
Topic #249: mafia mario-puzo mob crime puzo
Topic #250: chicklit chic-lit sophie-kinsella marian-keyes fluff
Topic #251: روايات روايات-عربية أحلام-مستغانمي رواية novels
Topic #252: funny hilarious lol friends-to-lovers humour
Topic #253: biographies autobiography bio biography-memoir memoir-biography
Topic #254: adult adult-fiction library i-own borrowed
Topic #255: theory philosophie great-books academic philosophy-religion
Topic #256: abandoned did-not-finish didn-t-finish unfinished couldn-t-finish
Topic #257: read-in-2016 read-in-2017 read-2016 2016-reads read-2017
Topic #258: middle-east afghanistan islam turkey war
Topic #259: read-in-2015 read-2015 2015-reads read-in-2016 2015-books
Topic #260: civil-war american-history war american-civil-war us-history
Topic #261: dune scifi dune-series frank-herbert default
Topic #262: rock-star rock-stars rockstar rockstars rockers
Topic #263: french france french-literature french-lit français
Topic #264: read-in-2014 read-2014 2014-reads ebook 2014-books
Topic #265: clàssics 19th-century literature victorian dickens
Topic #266: maeve-binchy ireland irish binchy general-fiction
Topic #267: anthology anthologies short-story-collections short-fiction stories
Topic #268: harry-potter j-k-rowling jk-rowling potter harry-potter-series
Topic #269: mysteries cozy-mystery detective historical-mystery mystery-suspense
Topic #270: james-bond spy espionage bond ian-fleming
Topic #271: darren-shan cirque-du-freak childhood novel cirque-du-freak-series
Topic #272: horses animals horse-books horse childhood-favorites
Topic #273: dark abuse dark-romance dark-erotica angst
Topic #274: ghosts ghost supernatural ghost-stories darynda-jones
Topic #275: favourites owned-books my-books english 5-stars
Topic #276: vonnegut kurt-vonnegut satire humor literature
Topic #277: business-books entrepreneurship startup biz startups
Topic #278: john-flanagan ranger-s-apprentice rangers-apprentice medieval action
Topic #279: enid-blyton famous-five childhood childhood-favourites children
Topic #280: robert-ludlum ludlum espionage ludlum-robert spy-novels
Topic #281: tintin comic bd comics-graphic-novels comics
Topic #282: portugal portuguese portuguese-literature literatura-portuguesa saramago
Topic #283: alternate-history orson-scott-card alternative-history historical-fantasy jasper-fforde
Topic #284: christian-fiction karen-kingsbury christian kingsbury kingsbury-karen
Topic #285: canadian canada canadian-literature canadian-authors canlit

Topic #286: laurell-k-hamilton merry-gentry fae paranormal-romance meredith-gentry
Topic #287: hunger-games the-hunger-games read-in-2012 my-books dystopia
Topic #288: chuck-palahniuk palahniuk satire chuck american
Topic #289: demons gena-showalter lords-of-the-underworld demon larissa-ione
Topic #290: german german-literature deutsch germany literature
Topic #291: matthew-reilly action action-adventure maximum-ride adventure
Topic #292: read-in-2012 read-in-2011 read-2012 nook 2012-reads
Topic #293: shifters shapeshifters paranormal nalini-singh shifter
Topic #294: elin-hilderbrand beach-reads summer-reads women-s-fiction chick-lit
Topic #295: time-travel karen-marie-moning highlander highlanders scotland
Topic #296: werewolves shifters werewolf shapeshifters kelley-armstrong
Topic #297: مصطفى-محمود arabic فكر دين islamic
Topic #298: college college-romance na friends-to-lovers new-adult-romance
Topic #299: favorite favorite-books my-favorites all-time-favorites love

In [394]:
tag_vectors = tags_nmf.transform(tfidf_tag_sparse_norm)

In [437]:
np.save('models/tags_nmf.npy',tag_vectors)

### Examine the tag based vectors

In [395]:
book_dict = {}
for i,row in books.iterrows():
    book_dict[row['book_id']] = {
        "tag_vector":tag_vectors[row['book_id']-1]
        ,"book_title":row['title']
        ,"authors":row['authors']
    }

In [379]:
# little function to look up books with similar tag-based NMF vectors
from operator import itemgetter

def similar_book_tags(book_id,book_dict,nr_recs=10):
    vec_i = book_dict[book_id]['tag_vector']
    recs_list = []
    for rec_id,rec_dict in book_dict.items():
        if rec_id != book_id:
            rec_vec = book_dict[rec_id]['tag_vector']
            sim_ij = cosine_sim(vec_i,rec_vec)
            recs_list.append((rec_id
                              ,book_dict[rec_id]['book_title']
                              ,book_dict[rec_id]['authors']
                              ,sim_ij))
    recs_list.sort(key=itemgetter(3),reverse=True)
    return recs_list[:nr_recs]

In [396]:
similar_book_tags(7,book_dict)

[(19,
  'The Fellowship of the Ring (The Lord of the Rings, #1)',
  'J.R.R. Tolkien',
  0.9340245679420155),
 (165,
  'A Feast for Crows (A Song of Ice and Fire, #4)',
  'George R.R. Martin',
  0.8973982751395206),
 (37,
  'The Lion, the Witch, and the Wardrobe (Chronicles of Narnia, #1)',
  'C.S. Lewis',
  0.8865299885418731),
 (542,
  'The Horse and His Boy (Chronicles of Narnia, #5)',
  'C.S. Lewis',
  0.8863709824904458),
 (746,
  'The Lies of Locke Lamora (Gentleman Bastard, #1)',
  'Scott Lynch',
  0.8828784571266783),
 (1629,
  'The Tombs of Atuan (Earthsea Cycle, #2)',
  'Ursula K. Le Guin',
  0.8821309052186329),
 (3278,
  'The Mad Ship (Liveship Traders, #2)',
  'Robin Hobb',
  0.862595791534862),
 (9157,
  'The Redemption of Althalus',
  'David Eddings, Leigh Eddings',
  0.8622506752736607),
 (9408,
  'The Darkest Road (The Fionavar Tapestry, #3)',
  'Guy Gavriel Kay',
  0.86054792031002),
 (859,
  'The Way of Shadows (Night Angel, #1)',
  'Brent Weeks',
  0.8601131487017506)]

In [371]:
books[books['authors'].str.contains('Tolkien')][['book_id','title','authors']]

,book_id,title,authors
6,7,The Hobbit,J.R.R. Tolkien
18,19,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. Tolkien
154,155,"The Two Towers (The Lord of the Rings, #2)",J.R.R. Tolkien
160,161,"The Return of the King (The Lord of the Rings,...",J.R.R. Tolkien
188,189,"The Lord of the Rings (The Lord of the Rings, ...",J.R.R. Tolkien
465,466,The Hobbit: Graphic Novel,"Chuck Dixon, J.R.R. Tolkien, David Wenzel, Sea..."
610,611,The Silmarillion (Middle-Earth Universe),"J.R.R. Tolkien, Christopher Tolkien, Ted Nasmith"
963,964,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,J.R.R. Tolkien
1128,1129,"The History of the Hobbit, Part One: Mr. Baggins","John D. Rateliff, J.R.R. Tolkien"
2308,2309,The Children of Húrin,"J.R.R. Tolkien, Christopher Tolkien, Alan Lee"
4975,4976,Unfinished Tales of Númenor and Middle-Earth,"J.R.R. Tolkien, Christopher Tolkien"
8271,8272,The Complete Guide to Middle-Earth,"Robert Foster, J.R.R. Tolkien"

In [412]:
# fellowship of the ring
t=list(enumerate(tag_vectors[18]))
t.sort(key=itemgetter(1),reverse=True)
t[0:10]

[(2, 0.15057858357160644),
 (13, 0.044277696561006774),
 (203, 0.03024132777016839),
 (107, 0.020467167122230963),
 (196, 0.01664946361931723),
 (275, 0.01325301950221456),
 (60, 0.013111432757314656),
 (38, 0.012245447024945684),
 (0, 0.010580242672800208),
 (299, 0.010422315236785698)]

In [415]:
similar_book_tags(611,book_dict)

[(1686,
  'Belgarath the Sorcerer',
  'David Eddings, Leigh Eddings',
  0.7595518300053391),
 (39,
  'A Game of Thrones (A Song of Ice and Fire, #1)',
  'George R.R. Martin',
  0.7487529892713196),
 (9975,
  'The King Beyond the Gate (The Drenai Saga, #2)',
  'David Gemmell',
  0.7136884956085894),
 (2119,
  "The Magicians' Guild (Black Magician Trilogy, #1)",
  'Trudi Canavan',
  0.7015211117666034),
 (5554,
  'To Green Angel Tower, Part 2 (Memory, Sorrow, and Thorn, #3; Part 2)',
  'Tad Williams',
  0.6954310363418165),
 (1525,
  'Crossroads of Twilight (Wheel of Time, #10)',
  'Robert Jordan',
  0.6939289530926359),
 (7253,
  'The One Tree (The Second Chronicles of Thomas Covenant, #2)',
  'Stephen R. Donaldson',
  0.6908160988390297),
 (964,
  'J.R.R. Tolkien 4-Book Boxed Set: The Hobbit and The Lord of the Rings',
  'J.R.R. Tolkien',
  0.677188207576125),
 (593,
  'A Wizard of Earthsea (Earthsea Cycle, #1)',
  'Ursula K. Le Guin',
  0.674110828317726),
 (8035,
  'Black Sun Rising (The Coldfire Trilogy, #1)',
  'C.S. Friedman',
  0.6702469639558272)]

In [414]:
# fellowship of the ring vs. the hobbit
cosine_sim(tag_vectors[18],tag_vectors[6])

0.9340245679420155

In [352]:
books[books['authors'].str.contains('Le Guin')][['book_id','title','authors']]

,book_id,title,authors
592,593,"A Wizard of Earthsea (Earthsea Cycle, #1)",Ursula K. Le Guin
1573,1574,The Left Hand of Darkness,"Ursula K. Le Guin, Lech Jęczmyk"
1590,1591,"The Farthest Shore (Earthsea Cycle, #3)",Ursula K. Le Guin
1628,1629,"The Tombs of Atuan (Earthsea Cycle, #2)",Ursula K. Le Guin
2209,2210,The Dispossessed,Ursula K. Le Guin
3402,3403,The Lathe of Heaven,Ursula K. Le Guin
5660,5661,"Tehanu (Earthsea Cycle, #4)",Ursula K. Le Guin
7727,7728,The Earthsea Trilogy,Ursula K. Le Guin
8892,8893,"The Other Wind (Earthsea Cycle, #6)",Ursula K. Le Guin
9423,9424,"Tales from Earthsea (Earthsea Cycle, #5)",Ursula K. Le Guin

In [413]:
similar_book_tags(1629,book_dict)

[(8103,
  "Arrow's Flight (Heralds of Valdemar, #2)",
  'Mercedes Lackey',
  0.9827506079227314),
 (8893,
  'The Other Wind (Earthsea Cycle, #6)',
  'Ursula K. Le Guin',
  0.9805384541319503),
 (7893,
  "Arrow's Fall (Heralds of Valdemar, #3)",
  'Mercedes Lackey',
  0.9787978363886207),
 (6602,
  'The Courts of Chaos (The Chronicles of Amber #5)',
  'Roger Zelazny',
  0.9777899843252479),
 (8799,
  'Sign of the Unicorn (The Chronicles of Amber #3)',
  'Roger Zelazny',
  0.9765968376445637),
 (9157,
  'The Redemption of Althalus',
  'David Eddings, Leigh Eddings',
  0.9727192794373689),
 (1591,
  'The Farthest Shore (Earthsea Cycle, #3)',
  'Ursula K. Le Guin',
  0.9714442096741177),
 (9408,
  'The Darkest Road (The Fionavar Tapestry, #3)',
  'Guy Gavriel Kay',
  0.9706916145592804),
 (9711,
  'The Wandering Fire (The Fionavar Tapestry, #2)',
  'Guy Gavriel Kay',
  0.9698709978648941),
 (6005,
  'The Source of Magic (Xanth, #2)',
  'Piers Anthony',
  0.9678202353899648)]

In [417]:
t=list(enumerate(book_dict[1574]['tag_vector']))
t.sort(key=itemgetter(1),reverse=True)
t[0:10]

[(7, 0.08162869195331013),
 (134, 0.06832119471257266),
 (58, 0.06727662334721593),
 (0, 0.062148378644072994),
 (103, 0.04555281390617159),
 (197, 0.03776571190871602),
 (144, 0.03538460539449409),
 (240, 0.025372641637205238),
 (256, 0.01755869236886675),
 (1, 0.01633540416230895)]

In [355]:
cosine_sim(tag_vectors[592],tag_vectors[1573])

0.36445578939412204

In [356]:
cosine_sim(tag_vectors[1628],tag_vectors[1590])

0.9721817443499796

In [418]:
books[books['authors'].str.contains('Le Fanu')][['book_id','title','authors']]

      book_id     title              authors
5580     5581  Carmilla  J. Sheridan Le Fanu

In [419]:
t=list(enumerate(book_dict[5581]['tag_vector']))
t.sort(key=itemgetter(1),reverse=True)
t[0:10]

[(0, 0.09295312680311225),
 (242, 0.07338182301939958),
 (14, 0.04210736386594193),
 (31, 0.025877178511500128),
 (13, 0.02526255551693941),
 (103, 0.023042892590491654),
 (3, 0.009611277943027331),
 (196, 0.008337527618203274),
 (265, 0.007777409289690962),
 (2, 0.006808320481167683)]

In [420]:
similar_book_tags(5581,book_dict)

[(2637,
  'We Have Always Lived in the Castle',
  'Shirley Jackson, Jonathan Lethem',
  0.914663051581773),
 (3773, 'The Woman in Black', 'Susan Hill, John Lawrence', 0.9006665014750327),
 (6278, 'Jamaica Inn', 'Daphne du Maurier', 0.8868306706652832),
 (97,
  'Dracula',
  'Bram Stoker, Nina Auerbach, David J. Skal',
  0.8565524345513097),
 (390,
  'The Strange Case of Dr. Jekyll and Mr. Hyde',
  'Robert Louis Stevenson, Vladimir Nabokov, Mervyn Peake, Dan Chaon',
  0.8526449198595405),
 (7667, 'Lost Souls', 'Poppy Z. Brite', 0.8502002435809503),
 (1954,
  'The Haunting of Hill House',
  'Shirley Jackson, Laura   Miller',
  0.8498683841246023),
 (7650, "Lady Audley's Secret", 'Mary Elizabeth Braddon', 0.838096592630693),
 (1354,
  'The Strange Case of Dr. Jekyll and Mr. Hyde and Other Tales of Terror',
  'Robert Louis Stevenson, Robert Mighall',
  0.8347042040665524),
 (4592,
  'The House of the Seven Gables',
  'Nathaniel Hawthorne, Robert S. Levine',
  0.8114217853040327)]

In [421]:
similar_book_tags(97,book_dict)

[(95,
  'The Picture of Dorian Gray',
  'Oscar Wilde, Jeffrey Eugenides',
  0.9661327608218139),
 (83,
  'A Tale of Two Cities',
  'Charles Dickens, Richard Maxwell, Hablot Knight Browne',
  0.9385147311853879),
 (390,
  'The Strange Case of Dr. Jekyll and Mr. Hyde',
  'Robert Louis Stevenson, Vladimir Nabokov, Mervyn Peake, Dan Chaon',
  0.9383548873626602),
 (42,
  'Little Women (Little Women, #1)',
  'Louisa May Alcott',
  0.9375754029022191),
 (194,
  'Moby-Dick or, The Whale',
  'Herman Melville, Andrew Delbanco, Tom Quirk',
  0.9358970867226835),
 (1354,
  'The Strange Case of Dr. Jekyll and Mr. Hyde and Other Tales of Terror',
  'Robert Louis Stevenson, Robert Mighall',
  0.9351013897345731),
 (701, 'Mrs. Dalloway', 'Virginia Woolf, Maureen Howard', 0.9313318397818376),
 (160, 'Great Expectations', 'Charles Dickens', 0.9312162636740992),
 (9780,
  'Necronomicon: The Best Weird Tales',
  'H.P. Lovecraft, Les Edwards, Stephen Jones',
  0.9295131977041142),
 (361,
  'Oliver Twist',
  'Charles Dickens, George Cruikshank, Philip Horne',
  0.9294881544285624)]

In [423]:
books[books['authors'].str.contains('Jane Austen')][['book_id','title','authors']]

,book_id,title,authors
9,10,Pride and Prejudice,Jane Austen
75,76,Sense and Sensibility,"Jane Austen, Tony Tanner, Ros Ballaster"
170,171,Emma,"Jane Austen, Fiona Stafford"
229,230,Persuasion,"Jane Austen, James Kinsley, Deidre Shauna Lynch"
450,451,Northanger Abbey,"Jane Austen, Alfred MacAdam"
470,471,Mansfield Park,"Jane Austen, Kathryn Sutherland, Tony Tanner, ..."
1038,1039,Pride and Prejudice and Zombies (Pride and Pre...,"Seth Grahame-Smith, Jane Austen"
4652,4653,The Complete Novels,Jane Austen
4844,4845,Dawn of the Dreadfuls (Pride and Prejudice and...,"Steve Hockensmith, Jane Austen, Patrick Arrasmith"
6301,6302,Lady Susan,"Jane Austen, Robert William Chapman"

In [430]:
similar_book_tags(10,book_dict)

[(5, 'The Great Gatsby', 'F. Scott Fitzgerald', 0.923428936493511),
 (63,
  'Wuthering Heights',
  'Emily Brontë, Richard J. Dunn',
  0.9215082638372557),
 (103,
  'The Count of Monte Cristo',
  'Alexandre Dumas, Robin Buss',
  0.9141754721554975),
 (559,
  "Tess of the D'Urbervilles",
  'Thomas Hardy, Tim Dolin, Margaret R. Higonnet',
  0.910227790644946),
 (8, 'The Catcher in the Rye', 'J.D. Salinger', 0.9054905979908731),
 (4, 'To Kill a Mockingbird', 'Harper Lee', 0.8947442043973408),
 (2197, 'Jude the Obscure', 'Thomas Hardy', 0.8676931030019772),
 (590,
  'David Copperfield',
  'Charles Dickens, Jeremy Tambling',
  0.8650606212848461),
 (2875,
  'Of Human Bondage',
  'W. Somerset Maugham, Benjamin DeMott, Maeve Binchy',
  0.861648662377581),
 (1783,
  'The Portrait of a Lady',
  'Henry James, Patricia Crick',
  0.8602329665007536)]

In [434]:
books[books['authors'].str.contains('L.M. Montgomery')][['book_id','title','authors']]

,book_id,title,authors
132,133,"Anne of Green Gables (Anne of Green Gables, #1)",L.M. Montgomery
957,958,The Complete Anne of Green Gables Boxed Set (A...,L.M. Montgomery
1111,1112,"Anne of the Island (Anne of Green Gables, #3)",L.M. Montgomery
1209,1210,"Anne of Avonlea (Anne of Green Gables, #2)",L.M. Montgomery
2820,2821,"Anne's House of Dreams (Anne of Green Gables, #5)",L.M. Montgomery
3137,3138,"Anne of Windy Poplars (Anne of Green Gables, #4)",L.M. Montgomery
3903,3904,"Anne of Ingleside (Anne of Green Gables, #6)",L.M. Montgomery
4013,4014,"Emily of New Moon (Emily, #1)",L.M. Montgomery
4697,4698,"Rilla of Ingleside (Anne of Green Gables, #8)",L.M. Montgomery
5566,5567,"Rainbow Valley (Anne of Green Gables, #7)",L.M. Montgomery
6504,6505,The Blue Castle,L.M. Montgomery
8590,8591,"Emily Climbs (Emily, #2)",L.M. Montgomery

In [435]:
similar_book_tags(133,book_dict)

[(5567,
  'Rainbow Valley (Anne of Green Gables, #7)',
  'L.M. Montgomery',
  0.7927136852819691),
 (7430,
  'Rose in Bloom (Eight Cousins, #2)',
  'Louisa May Alcott',
  0.7438221620121458),
 (1112,
  'Anne of the Island (Anne of Green Gables, #3)',
  'L.M. Montgomery',
  0.711326392547849),
 (3138,
  'Anne of Windy Poplars (Anne of Green Gables, #4)',
  'L.M. Montgomery',
  0.7089663660054109),
 (8591, 'Emily Climbs (Emily, #2)', 'L.M. Montgomery', 0.7002495388359219),
 (4698,
  'Rilla of Ingleside (Anne of Green Gables, #8)',
  'L.M. Montgomery',
  0.6999145383527379),
 (3904,
  'Anne of Ingleside (Anne of Green Gables, #6)',
  'L.M. Montgomery',
  0.6788495414554518),
 (1210,
  'Anne of Avonlea (Anne of Green Gables, #2)',
  'L.M. Montgomery',
  0.65702216492053),
 (937,
  'His Dark Materials (His Dark Materials #1-3)',
  'Philip Pullman',
  0.648474093162727),
 (1489,
  'On the Banks of Plum Creek  (Little House, #4)',
  'Laura Ingalls Wilder, Garth Williams',
  0.63803146264725)]